/* Created on 14 Sep '24 */

/* General elements */
body {
	background-color: #3a3d4bf6;
	font-family: Calibri, sans-serif;
}

/* Navbar styles */
.screen {
	position: sticky;
	top: 50%;
	max-width: 90%;
	background-color: black;
	overflow: hidden;
	z-index: 1;
	border-radius: 25px;
	color: white;
	padding: 2%;
	margin: auto;
}