/* Created on 14 Sep '24 */

/* General elements */
body {
	color: white;
	font-family: 'Courier New', Courier, monospace;
}

.set-screen-width-height {
	width: 75%;
	height: 50vh;
}

/* Navbar styles */
/*.screen {
	position: sticky;
	top: 50%;
	max-width: 90%;
	background-color: black;
	overflow: hidden;
	z-index: 1;
	border-radius: 25px;
	color: white;
	padding: 2%;
	margin: auto;
}*/